---
---
// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";

.chapter {
  h1 {
    counter-reset: seccounter;
    text-transform: none;
  }
  
  h2 {
    color: $primary;
    text-transform: none;
  }

  h2:before {
    color: $header-color;
    content: /*"\00A7"*/counter(chapcounter)"."counter(seccounter)"\0000a0\0000a0";
    counter-increment: seccounter;
    counter-reset: subseccounter 0 resultcounter 0;
  }

  h3 {
    color: $primary;
    text-transform: none;
  }

  h3:before {
    color: $header-color;
    content: counter(chapcounter)"."counter(seccounter)"."counter(subseccounter)"\0000a0\0000a0";
    counter-increment: subseccounter;
  }

  .example {
    font-style: normal;
    margin: 1.5rem;
    padding: 1rem 1.4rem;
    border-radius: .4rem;
    background: $gray-200;
    counter-increment: resultcounter;

    > :first-child:before {
      content: "Ejemplo "counter(chapcounter)"."counter(seccounter)"."counter(resultcounter)".\0000a0";
      font-weight: bold;
      font-style: normal;
    }
    
    > :last-child {
      margin-bottom: 0;
    }

  }

  
  .theorem {
    font-style: italic;
  }
  
  .theorem:before {
    content: "Teorema "counter(chapcounter)"."counter(seccounter)"."counter(resultcounter)".\0000a0";
    counter-increment: resultcounter;
    font-weight: bold;
    font-style: normal;
  }
  
  .proof {
    > :last-child:after {
      content: "\025A0";
      color: $primary;
      float: right;
    };
    
    > :first-child:before {
        content: "Proof.\0000a0";
        font-style: italic;
      };
  }
  
}
