---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";
@import "bib";



#mainContent { font-size: 1.2rem; }

.chapter h1 {
  counter-reset: seccounter;
  text-transform: none;
}

.chapter h2 {
  color: $primary;
  text-transform: none;
}

.chapter h2:before {
  color: $header-color;
  content: "\00A7"counter(chapcounter)"."counter(seccounter)".\0000a0\0000a0";
  counter-increment: seccounter;
  counter-reset: subseccounter;
  
}


// Slider bootstrap4 correction
.slider.slider-horizontal:hover,
.slider.slider-vertical:hover { 
  .tooltip.tooltip-main { 
    opacity: 1 !important;
  } 
}