[submodule "stuff/js_moran"]
	path = stuff/js_moran
	url = https://bitbucket.org/alvarolozano/js_moran.git
[submodule "stuff/fpExplorer"]
	path = stuff/fpExplorer
	url = https://github.com/rojizo/fpExplorer.git
	branch = master
[submodule "stuff/maximalTimes"]
	path = stuff/maximalTimes
	url = https://github.com/rojizo/fpExplorer.git
	branch = proliferationTimes