<span class="bibref proceedings">
{% include bib_patch_authors.html %}.{% if bibitem.url %}
  <a class="title" href="{{bibitem.url}}">{{bibitem.title}}</a>,
{% else %}
  <span class="title">{{bibitem.title}}</span>,
{% endif%}
<span class="booktitle-connector">
  {% if page.language == 'es' %}
    En
  {% else %}
    In
  {% endif %}
</span>
<span class="booktitle">{{ bibitem.booktitle }}</span>,
{% if bibitem.serie %}
  <span class="serie">{{bibitem.serie}}</span>{% if bibitem.vol %}
    <span class="vol">{{bibitem.vol}}</span>{% endif %},
{% endif %}
{% if bibitem.editorial %}
  <span class="editorial">{{bibitem.editorial}}</span>,
{% endif %}
<span class="year">{{bibitem.year}}</span>.
{% if bibitem.doi %}
  <a href="https://doi.org/{{bibitem.doi}}">doi&nbsp;{{bibitem.doi}}</a>.
{% endif %}
{% if bibitem.arxiv %}
  <a href="https://arxiv.org/abs/{{bibitem.arxiv}}">arXiv&nbsp;{{bibitem.arxiv}}</a>
{% endif %}
{% if bibitem.isbn %}
  <span class="isbn">{{bibitem.isbn}}</span>.
{% endif %}
</span>