// Bibliografía en general
.bibref {
  .author {
    em { // Para los et al...
      font-style: italic;
    } 
  }
  
  .pages:before {
    content: 'pp.';
    margin-right: .2ex;
  }
  
  .doi{}
}

// Bibliografía journal
.bibref.article {
  .vol {
    font-weight: bold;
  }
  .journal {
    font-style: italic;
  }
}

// Bibliografía book
.bibref.book {
  .title {
    font-style: italic;
  }
  .isbn:before {
    content: 'ISBN';
    margin-right: .4ex;
  }
}


// Bibliografía book
.bibref.proceedings {
  .booktitle {
    font-style: italic;
  }
  .vol {
    font-weight: bold;
  }
  .isbn:before {
    content: 'ISBN';
    margin-right: .4ex;
  }
}