// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-800;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.35rem;
}

.list-social-icons {
  a {
    color: $secondary;
    &:hover {
      color: $primary;
    }
    .fa-lg {
      font-size: 1.5rem;
    }
  }
}

.list-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

// Box shadow helper
@mixin BoxShadowHelper($level: 1){
  @if $level == 1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 1px 4px 0 rgba(0, 0, 0, .12);
  }
  @if $level == 2 {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 8px 0 rgba(0, 0, 0, .15);
  }
}


.card {
  @include BoxShadowHelper(1);
  overflow: hidden;
  transition: .25s box-shadow;
  &:focus,
  &:hover {
    @include BoxShadowHelper(2);
  }
  .card-title {
    border-bottom: 1px solid $secondary;
  }
  .readmore {
    text-decoration: none !important;
    h5 {
      transition: .25s;
    }
    &:hover h5,
    &:focus h5 {
      color: $primary;
    }
  }
}

.card-columns {
  orphans: 1 !important; 
  widows: 1 !important;
}
